* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0 auto 0 auto;
  font-family: "Kalam","Noto Sans JP" ,Helvetica Neue,
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
  font-size: 18px;
}

.wrap {
  overflow: hidden;
}
@font-face {
  font-family: 'Kalam';
  src: url("Cake/font/Kalam")
}

p {
  margin: 0;
}

/* ヘッダー */
header {
align-items: center;
margin: 0;
background-size:cover;
background-image: url("image/headerbg.png");}

.header-inner {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.header-inner a {
  font-family: 'Kalam';
  color: #652c33;
  text-decoration: none;
}

.header-innerl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 0 20px 40px;
}

h1 {
  padding-left: 20px;
  font-size: 30px;
}

.header-inner2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding-left: 400px;
}

/* ナビゲーションのレイアウト */
#nav-pc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
}

#nav-pc ul {
  display: flex;
  align-items: center;
  padding-left: 0;
}

#nav-pc li {
  font-size: 35px;
  list-style: none;
  margin: auto 70px;
}

/* ナビゲーションのリンクの装飾設定 */
#nav-pc a {
  text-decoration: none;
}

/* スマホ用ナビを非表示 */
#nav-sp,
#menu-sp {
  display: none;
}

#nav-pc a:hover {
  text-decoration: underline;
}

/* メインビジュアル */
.carousel img {
    margin: 0 auto;
    width: 100%;
}

.carousel_sp {
  display: none;
}
  
/* Concept */
.concept,.conceptpage {
  margin-top: 70px;
  text-align: center;
  color: #652c33;
  margin: 70px auto 0 auto;
}

.concept-title {
  margin-top: 40px;
  font-size: 30px;
}

.concept-shopname {
  margin-top: 70px;
  font-size: 25px;
}

.concept-description {
  position: relative;/*親要素にrelative*/
  margin: 10px;
  font-size: 20px;
  align-items: center;
  text-align: center;
}

.conceptr {
  position: absolute;/*重ねたい子要素にabsolute*/
  align-items: center;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 300px;
}


.concepttr p {
  position: absolute;/*重ねたい子要素にabsolute*/
  text-align: center;
  align-items: center;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.conceptflower {
  position: absolute;/*重ねたい子要素にabsolute*/
  text-align: center;
  align-items: center;
  top: 35%;
  left: 70%;
  max-width: 90px;
}

.concept-morebt {
  align-items: center;
  margin-top: 190px;
  font-size: 20px;
}

.concept-morebt a {
  text-decoration-line: none;
}
.concept-morebt p {
  text-align: center;
  background-color: #f3d2dc;
  padding: 10px 10px;
  margin: auto;
  width: 150px;
  color: #652c33;
}

/* Menuセクション */
.menu {
  position: relative;
  text-align: center;
  color: #652c33;
  background-color: #F0F9FB;
  margin: 7% auto 0 auto;
  padding-bottom: 20px;
}

.menu-title {
  padding-top: 40px;
  font-size: 30px;
}

.menu-inner {
  display: flex;
  justify-content: center;
  margin: 30px 10px;
}


/* 画像と説明文 */
.menup {
  align-items: center;
  margin: 0 50px;
  padding-bottom: 55px;
}

.menup img {
  position: relative;
  width: 100%;
}

.menup p {
  align-items: center;
  text-align: center;
  padding: 10px 10px;
  margin-top: -120px;
  background-color: #ffffff;
  opacity: 0.7;
  font-size: 30px;
  width: 100%;
}

.menup a {
color: #652c33;
text-decoration: none;
}

/* SNSセクション */
.sns {
  position: relative;
  margin: 100px auto 180px auto;
  text-align: center;
  color: #652c33;
}

.sns-title {
  padding-top: 40px;
  font-size: 30px;
}

.sns-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px auto;
  max-width: 1080px;
}

.sns-contents {
  margin: 30px auto;
}

.sns-contentsf {
  margin: auto;
}

/* 画像 */
.snsp {
  position: relative;
  margin: 30px;
}

.snsp-in {
  display: none;
}

/* フッター */
footer {
  display: block;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 140px;
  background-image: url("image/headerbg.png");
  margin: 0 auto 0 auto;
}

.footer-hight {
  display: block;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.footer-ps {
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
}

.footer-ps a {
  color: #652c33;
  text-decoration: none;
}

.footer-copy {
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
  color: #652c33;
  font-weight: bold;
}

@media screen and (min-width: 415px) {
  /* sns用アイコン非表示 */
  .sns-in {
    display: none;
}
}

/* Conceptpage */
.conceptpage {
  position: relative;
  margin-top: 70px;
  text-align: center;
  color: #652c33;
  margin: 70px auto 30px auto;
  width: 80%;
}

.conceptpage_title  {
  margin-bottom: 80px;
  }

.conceptpage_title a {
  font-size: 30px;
  }

  .conceptpage_patissier {
    position: absolute;
  }

.conceptpage_patissier img {
  margin-right: 30%;
  width: 60%;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.conceptpage-shde {
  justify-content: center;
  background-color: #F0F9FB;
  width: 55%;
  margin-top: 40%;
  margin-left: 50%;
}

.conceptpage-shopname {
  padding-top: 95px;
  padding-bottom: 30px;
}

.conceptpage-description {
  padding: 0 35px 75px 35px;
}

.conceptpageflower {
  position: absolute;
  text-align: center;
  align-items: center;
  left: 92%;
  top: 85%;
  max-width: 90px;
}

.concept_contents {
  position: relative;
  text-align: center;
  color: #652c33;
  margin: 7% auto 0 auto;
  padding-bottom: 50px;

}

.conceptpage-inner {
  display: flex;
  justify-content: center;
  margin: 30px 5px;
}

.conceptup {
  align-items: center;
  margin: 0 50px;
  padding-bottom: 55px;
}

.conceptup img {
  position: relative;
  width: 100%;
}

.conceptpage-text {
  align-items: center;
  text-align: center;
  padding: 10px 10px;
  margin-top: -62px;
  background-color: #ffffff;
  opacity: 0.7;
  font-size: 18px;
  width: 100%;
}

.conceptpage-text span {
  font-size: 30px;
}


/* 画像と説明文 */
.conceptup {
  align-items: center;
  margin: 0 30px;
  padding-bottom: 55px;
}

.conceptup img {
  position: relative;
  width: 100%;
}

.concept-text {
  align-items: center;
  text-align: center;
  padding: 10px 10px;
  margin-top: -120px;
  background-color: #ffffff;
  opacity: 0.7;
  font-size: 30px;
  width: 100%;
}

.concept-text1 {
  align-items: center;
  text-align: center;
  padding: 10px 10px;
  margin-top: -120px;
  background-color: #ffffff;
  opacity: 0.7;
  font-size: 20px;
  width: 100%;
}

.conceptup a {
color: #652c33;
text-decoration: none;
}

/* Menupage */
.menupage {
  margin: 0 auto 0 auto;
  text-align: center;
  color: #652c33;
  align-items: center;
}

.menu_title {
 font-size: 30px;
 margin-top: 70px;
 margin-bottom: 50px;
}

.menu_top {
 margin: 0;
 padding: 0;
}

.menu_back1 {
 width: 864px;
 height: 80px;
 background-color:#CEF0F7;
 padding: 0;
 margin: -10px auto 0 auto;
 border-radius: 70px 70px 0 0;
}

.menu_linep {
  display: flex;
  margin: 30px auto 10px auto;
  width: 864px;
  align-items: center;
  border-bottom: #CEF0F7;
}

.menu_line1 {
  margin: 0px 23px;
}

.menu_line1 img {
  position: relative;
  width: 240px;
  height: 160px;

}

.menupage-text {
  font-family: Noto Sans JP;
}

.menu_back2 {
  width: 864px;
  height: 20px;
  background-color:#CEF0F7;
  margin: 0 auto 0 auto;
 }

 .menu_linep2 {
  display: flex;
  margin: 30px auto 10px auto;
  width: 864px;
  align-items: center;
  border-bottom: #CEF0F7;
}

.menu_line2 {
  margin: 0px 12px 30px 23px;
  text-align: center;
}

.menu_line2 img {
  margin: 26px 8px 0px 0px;
}

 .menu_back3 {
  width: 864px;
  height: 80px;
  background-color:#CEF0F7;
  border-radius: 0 0 70px 70px;
  margin: 0 auto 90px auto;
 }

 .menupage-text2 span{
  font-size: 35px;
 }

 .menupage-text2 {
 font-size: 18px;
 margin-bottom: 35px;
}

.menupagebt {
 background-color: #652c33; 
 margin: 0 auto 0 auto;
 width: 60%;
}

.menupagebt a {
  text-align: center;
  text-decoration: none;
  text-decoration-line: none;
}

.menupagebt p {
  color: #ffffff;
  padding: 10px 0;
}

/* Accesspage */
.accesspage {
  position: relative;
  margin-top: 70px;
  text-align: center;
  color: #652c33;
  margin: 70px auto 80px auto;
  width: 80%;
}

.accesspage_title  {
  margin-bottom: 80px;
  }

.accesspage_title a {
  font-size: 30px;
  color: #652c33;
}

.access_shop {
    position: absolute;
}

.access_shop img {
  margin-right: 50%;
  width: 88%;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.accesspage-shde {
  justify-content: center;
  background-color: #F0F9FB;
  margin-top: 14%;
  margin-left: 24%;
}

.accesspage-shopname {
  padding-top: 174px;
  padding-bottom: 30px;
}

.accesspage-shopname a{
  margin-left: 30%;
  font-size: 25px;
}

.accesspage-description {
  display: flex;
  margin-top: 115px;
  margin-left: 100px;
  padding: 0 0px 75px 0px;
  font-family: Noto Sans JP;
  font-size: 23px;
}

.des_l {
  text-align: right;
  margin-right: 30px;
  line-height: 3;
}

.des_r {
  text-align: left;
  line-height: 3;
  margin-top: 25px;
}

.des_rr {
  text-align: left;
  line-height: 1;
}

.accesspage_title2  {
  margin-bottom: 40px;
  text-align: center;
  font-size: 30px;
  color: #652c33;
  }

.accesspage_map {
  margin-bottom: 80px;
  align-items: center;
}

/* Contactpage */
.contactpage {
  margin-top: 70px;
  text-align: center;
  color: #652c33;
  margin: 70px auto 80px auto;
  width: 80%;
}

.contactpage_title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 30px;
  color: #652c33;
  }

.contact_form {
  text-align: left;
  background-color: #F0F9FB;
  margin-top: 8%;
  font-family: Noto Sans JP;
}

.contact-label {
  font-size: 20px;
}

form {
  padding:50px 0 ;
}

.contact-heading {
  margin: 50px 0 3px 90px;
}

.contact-inner {
  margin: 10px auto 0 90px;
}

.contact-textbox {
  width: 88%;
  font-size: 20px;
  padding: 5px 0 5px 5px;
  border-color: #652c33;
  border-radius: 10px;
}

.contact-textarea {
  width: 88%;
  height: 8.5em;
  font-size: 20px;
  padding: 5px 0 5px 5px;
  border-color: #652c33;
  border-radius: 10px;
}

input[type="checkbox"]{
  accent-color: #652c33;
  transform: scale(1.5);
  margin-right: 10px;
}

.buttonp {
  text-align: center;
}
.button {
  margin-top: 50px;
  font-size  : 30px;        
  text-align : center;      
  cursor : pointer;     
  padding : 15px 140px;   
  background : #652c33;     
  color      : #ffffff;     
  line-height : 1em;         /* 1行の高さ  */
  transition  : .3s;         /* なめらか変化 */
  border      : 2px solid #652c33;    /* 枠の指定 */
}

/* privacypolicypage */
.privacypage {
  margin-top: 70px;
  text-align: center;
  color: #652c33;
  margin: 70px auto 80px auto;
  width: 80%;
}

.privacypage_title {
margin-bottom: 40px;
text-align: center;
font-size: 30px;
}

.privacy-description {
font-size: 16px;
font-family: Noto Sans JP;
background-color: #F0F9FB;
}

.ap {
  display: block;
  text-align: left;
  padding: 7em;
}

/* sitemappage */
.sitemappage {
  margin-top: 70px;
  color: #652c33;
  margin: 70px auto 80px auto;
  width: 80%;
  font-family: Noto Sans JP;
}

.sitemappage_title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 30px;
  }
  
.sitemap_menup {
  font-size: 16px;
  background-color: #F0F9FB;
  }

.sitemap_menup ul {
    padding-left: 0;
    padding: 3em;
  }
  
.sitemap_menup li {
    font-size: 35px;
    list-style: none;
    margin: 60px 70px 60px 20px;
  }
  
  /* ナビゲーションのリンクの装飾設定 */
  .sitemap-menu li a {
    text-decoration: none;
    color: #652c33;
  }
  





  /*====================
   スマートフォン用のスタイル
  =====================*/
/* 画面幅が414px以下のとき */
@media screen and (max-width: 414px) {
  /* スマートフォン用のスタイルを指定する */
  /* PC用ナビゲーション非表示 */
  #nav-pc {
    display: none;
}

/* ヘッダー */
header {
  align-items: center;
  margin: 0;
  background-size:cover;
  background-image: url("image/headerbg.png");
}

/* ヘッダー左ロゴサイズ */
.header-innerl img {
  width: 70%;
}

/* ハンバーガーメニュー */
#menu-sp {
  display: block;
  background-color: transparent;
  float: right;
  padding: 20px;
  border: none;
}

/* スマホ用ナビゲーションの表示切替*/
/* 初期状態、レイアウトと非表示設定 */
#nav-sp {
  position: fixed;
  left: 180px;
  top: 0;
  height: 50%;
  width: 60%;
  display: none;
  z-index: 100;
}

/* ×ボタン */
#close {
  position: absolute;
  top: 30px;
  right: 30px;
  border: none;
  z-index: 1;
  background-color: transparent;
}

#nav-sp nav ul {
  padding-left: 0;
}

#nav-sp nav li {
  list-style: none;
}

  /* ナビゲーションのリンクの装飾設定 */
  #nav-sp nav a {
    display: block;
    color: #652c33;
  }

  #nav-sp nav a:hover {
    text-decoration: underline;
  }

  #nav-sp .menubt {
    text-decoration: none;
    height: 60px;
    font-size: 16px;
    background-repeat: no-repeat;
    background-position: right top;
    padding: 20px 20px;
  }

  nav ul {
    background-color: #F0F9FB;
  }

  /* MVセクション */
 

  .main_1sp {
    align-items: center;
    margin: 0;
    width: 100%;
    padding-top: 20px;
  }

    /* Conceptセクション */
  .concepttr p {
    font-size: 16px;
  }

  img.conceptflower {
    width: 50px;
    margin-top: 25px;
    margin-left: 75px;
  }
    /* Menuセクション */
  .menu {
    align-items: center;
  }

  .menu-inner {
    flex-direction: column;
    align-items: center;    
  }

  .menup {
    margin-bottom: 30px;
  }

  .menu p {
    text-align: center;
    font-size: 25px;
  }

/*SNSセクション */
.sns-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.sns-in {
  width: 200px;
  margin-top: 40px;
}

.sns-inner {
  display: none;
}

/* footerセクション */
.footer-ps {
  font-size: 16px;
}

}
